@font-face {
	font-family: Arial;
	src:
		local('Segoe UI'), local('Ubuntu'), local('Calibri');
}

@font-face {
	font-family: Verdana;
	src: 
		local('Segoe UI'), local('Ubuntu'), local('Calibri');
}

@font-face {
	font-family: Tahoma;
	src:
		local('Segoe UI'), local('Ubuntu'), local('Calibri');
}

@font-face {
	font-family: Helvetica;
	src:
		local('Segoe UI'), local('Ubuntu'), local('Calibri');
}

@font-face {
	font-family: Helvetica Neue;
	src:
		local('Segoe UI'), local('Ubuntu'), local('Calibri');
}

@font-face {
	font-family: -apple-system;
	src:
		local('Segoe UI'), local('Ubuntu'), local('Calibri');
}

@font-face {
	font-family: sans-serif;
	src:
		local('Segoe UI'), local('Ubuntu'), local('Calibri');
}
